@model JobApplication

<div class="card p-4 shadow col-md-6 offset-md-3">
    <div class="form-group mb-2">
        <label><strong>Preferred Name:</strong></label>
        <p>@Model.PreferredName</p>
    </div>

    <div class="form-group mb-2">
        <label><strong>First Name:</strong></label>
        <p>@Model.FirstName</p>
    </div>

    <div class="form-group mb-2">
        <label><strong>Last Name:</strong></label>
        <p>@Model.LastName</p>
    </div>

    <div class="form-group mb-2">
        <label><strong>Birthdate:</strong></label>
        <p>@Model.Birthdate.ToShortDateString()</p>
    </div>

    <div class="form-group mb-2">
        <label><strong>Email:</strong></label>
        <p>@Model.Email</p>
    </div>

    <div class="form-group mb-2">
        <label><strong>Phone:</strong></label>
        <p>@Model.Phone</p>
    </div>

    <div class="form-group mb-2">
        <label><strong>Position:</strong></label>
        @{
            var positionId = Model.ChosenPosition?.PositionId ?? 0;

            var openPositions = ((List<Position>)ViewBag.OpenPositions) ?? new List<Position>();

            var positionTitle = openPositions.FirstOrDefault(p => p.PositionId == (int)positionId)?.Title ?? "No position selected";
        }
        <p>@(positionTitle ?? "No position selected.")</p>
    </div>

    <div class="form-group mb-2">
        <label><strong>Resume (Optional):</strong></label>
        @if (!string.IsNullOrEmpty(Model.ResumeFilepath))
        {
            <div>
                <a href="@Url.Action("DownloadResume", "HomeController", new { resumePath = Model.ResumeFilepath })" class="btn btn-secondary">Download User-Uploaded Resume</a>
            </div>
        }
        else
        {
            <p>No resume uploaded by user.</p>
        }
    </div>

    @if (User.IsInRole("admin"))
    {
        <form asp-action="ApplicationAccept" asp-route-id="@Model.ApplicationId" method="post" class="form-group text-center">
            <button type="submit" class="btn btn-success" style="font-size: large">Accept</button>
        </form>

        <form asp-action="ApplicationReject" asp-route-id="@Model.ApplicationId" method="post" class="form-group text-center">
            <button type="submit" class="btn btn-danger" style="font-size: large">Reject</button>
        </form>
    }
</div>
